body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 10vh;
}

@media (max-width: 768px) {
    body {
        padding-top: 32px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.tippy-box {
    background-color: crimson !important;
}

.tippy-arrow {
    color: crimson !important;
}

canvas:last-child {
    margin-left: 30px;
}
